# Common Information
PORT=
SERVICE_ID=

# Database Information
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Service Soap Information
ACCOUNT_SERVICE_PATH=
ACCOUNT_SERVICE_ENDPOINT=